* {
  box-sizing: border-box;
}

h2 {
  text-align: center !important;
  margin: 1em;
  font-family: "Merriweather Sans", sans-serif;

}

h3 {
  text-align: center;
}

.align {
  margin: -20px -50px;
  position: relative;
  left: 50%;
  top:3em;
}

a:hover {
  text-decoration: none;
}

nav {
  font-family: "Merriweather Sans", sans-serif;
}

body {
  padding-top: -70px;
}

.navbar a {
  color: #fff !important;
}

.container {
  padding: 1%;
}

/*About Us*/

#aboutHeader {
  background-color: #b30000;
  color: #fff;
}

.about {
  margin-top: 2.6em;
  font-size: 25px;
  font-family: 'Merriweather', serif;
  text-align: center;
}

/*Services*/

#services {
  text-align: center;
  padding: 10px;
  margin-bottom: -0.4em;
}

#services a {
  color: white !important;
}

.flip-card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  margin-top: 20px;
}

#serviceHeader {
  background-color: #4B0082;
  color: #fff;
}

/* This container is needed to position the front and back side */

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 200px;
  backface-visibility: hidden;
  border: 2px solid;
}

/* Style the front side (fallback if image is missing) */

.flip-card-front {
  color: black;
}

#services h2 {
  position: relative;
  top: 20%;
}

/* Style the back side */

.flip-card-back {
  background-color: #fff;
  transform: rotateY(180deg);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.shadow {
  text-shadow: -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  color: #fff;
}


/* Carousel */

body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: "Nunito", Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("https://i.postimg.cc/Zq1jtV8g/pexels-photo-1604991.jpg");
}

.slide2 {
  background-image: url("https://i.postimg.cc/tgRzXk48/md-duran-628447-unsplash.jpg");
}

.slide3 {
  background-image: url("https://i.postimg.cc/HLLQGLSg/nicole-honeywill-703542-unsplash.jpg");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  font-family: 'Vast Shadow', cursive;
  text-shadow: -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  color: #fff;
  margin-top: 1em;
}

.slide-content p {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}

/*team*/

.format {
  margin-top: 2.5em;
}

#team {
  text-align: center;
  margin-bottom: 20px;
}

#member {
  width: 300px;
  height: 300px;
  position: relative;
  transition: .3s;
}

#member img {
  width: 100%;
  height: 100%;
  transition: .3s;
  border-radius: 4px;
}

#member:hover img {
  filter: blur(2px);
  box-shadow: 0 0 16px cyan;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 30%;
  width: 100%;
  text-align: center;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  color: #fff;
  opacity: 0;
  transition: .3s;
  right: 3px;
}

#member:hover :not(img) {
  opacity: 1;
}

#team i {
  margin-top: 10px;
  height: 30px;
  width: 30px;
  padding: 5px;
  color: #fff;
  margin-right: 3px;
  border-radius: 100%;
  background-color: #a0db8e;
}

#teamHeader {
  background-color: #00cc00;
  color: #fff;
}

/*Footer*/

.footer p {
  color: white;
}

.footer a {
  color: #fff;
}

.footer {
  color: white;
  text-align: left;
}

/* Partners */

#partners {
  margin-bottom: 2em;
}

#partnerHeader {
  font-family: 'Merriweather Sans', cursive;
  color: #fff;
  background-color: #914a2b;
  text-align: center !important;
}

#partners img {
  width: 250px;
  height: 250px;
  opacity: 0.6;
  cursor: pointer;
  margin: 10px;
  transition: all 500ms ease-in-out;
  margin-left: 50px;
}

#partners img:hover {
  opacity: 1;
}


/*Exhibits*/

#exhibits h2 {
  text-align: center;
  font-family: 'Merriweather Sans', cursive;
}

#exhibit p {
  font-family: 'Noto Sans SC', sans-serif;
}

strong {
  font-family: 'Merriweather Sans', sans-serif;
}

#exhibit img {
  width: 200px;
  height: 150px;
}

/*Contact Us*/

.form {
  width: 750px;
  height: 700px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Exo 2', bold, sans-serif;
  position: relative
}

h2 #contactus {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c
}

#contactus input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Merriweather Sans', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2
}

#contactus input:focus {
  border-bottom: 2px solid #78788c;
}

#contactus p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}

.message {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Merriweather Sans', sans-serif;
  border: 2px solid #78788c;
  background: #e6e6e6;
  color: #000;
  transition: all .3s;
}

#contactus .message:hover {
  background: #78788c;
  color: #e6e6e6;
  border: 2px solid #78788c;
}

#contactus div {
  content: 'Hi';
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}

#contactus span {
  margin: 0 5px 0 15px;
}

/*Lectures*/

#lectures {
  text-align: center;
}

#lectureItem {
  border: 2px solid;
  margin-right: 4px;
  margin-bottom: 10px;
}

/*Modal*/

#myModal {
  color: black;
}

#myModal p {
  color: black;
}

/*Donate*/

#backgroundimage {
  height: auto;
  left: 0;
  margin: 0;
  min-height: 100%;
  min-width: 674px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

#containbox ul {
  list-style-type: none;
}

#containbox li {
  color: black;
}

#containbox form {
  height: 850px;
}

/*Donate
.form {
  width: 600px;
  height: 750px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Exo 2', bold, sans-serif;
  position: relative
}

 h2 #containbox {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c
}

#containbox input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Merriweather Sans', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2
}

#containbox input:focus {
  border-bottom: 2px solid #78788c;
}

#containbox p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}

.message {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Merriweather Sans', sans-serif;
  border: 2px solid #78788c;
  background: #e6e6e6;
  color: #000;
  transition: all .3s;
}

#containbox .message:hover {
  background: #78788c;
  color: #e6e6e6;
  border: 2px solid #78788c;
}

#containbox div {
  content: 'Hi';
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}

#containbox span {
  margin: 0 5px 0 15px;
}
*/
