* {
  box-sizing: border-box;
}

h2 {
  text-align: center !important;
  margin: 1em;
  font-family: "Merriweather Sans", sans-serif;
}

nav {
  font-family: "Merriweather Sans", sans-serif;
}

body {
  padding-top: -70px;
}

.container {
  padding: 1%;
}

/*About Us*/

.about {
  margin-bottom: 2em;
  text-align: center;
}


/*Services*/

#services {
  text-align: center;
  padding: 10px;
}

#services a {
  color: white !important;
}

.flip-card {
  height: 200px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  margin-bottom: 20px;
}

/* This container is needed to position the front and back side */

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 200px;
  backface-visibility: hidden;
  border: 2px solid;
}

/* Style the front side (fallback if image is missing) */

.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */

.flip-card-back {
  background-color: #fff;
  transform: rotateY(180deg);
}

/* Carousel */

body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: "Nunito", Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("https://i.postimg.cc/Zq1jtV8g/pexels-photo-1604991.jpg");
}

.slide2 {
  background-image: url("https://i.postimg.cc/tgRzXk48/md-duran-628447-unsplash.jpg");
}

.slide3 {
  background-image: url("https://i.postimg.cc/HLLQGLSg/nicole-honeywill-703542-unsplash.jpg");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #000;
  font-family: 'Vast Shadow', cursive;
  text-shadow: -2px -1px 0 #fff,
  2px -1px 0 #fff,
  -2px 1px 0 #fff,
  2px 1px 0 #fff;
  /* background-color: #cfc ;
  padding: 0.5%;
  border: 1px solid green ;
  opacity: 0.9;
  */
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}


/*Footer*/

.footer p {
  color: white;
}

.footer {
  color: white;
  text-align: left;
}

/* Partners */

.partner {
  width: 25em;
  height: 8em;
}

.partners h2 {
  font-family: 'Merriweather Sans', cursive;
}

.partners {
  margin-top: 0em;

}

.partners .col-md-4 {
  margin-right: 40px;
}

/*Exhibits*/

#exhibits h2 {
  text-align: center;
  font-family: 'Merriweather Sans', cursive;
}

#exhibit p {
  font-family: 'Noto Sans SC', sans-serif;
}

strong {
  font-family: 'Merriweather Sans', sans-serif;
}

#exhibit img {
  width: 200px;
  height: 150px;
}

/*Contact Us*/

.form {
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Merriweather Sans',
  sans-serif;
  position: relative
}

#contactus h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c
}

#contactus input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Merriweather Sans', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2
}

#contactus input:focus {
  border-bottom: 2px solid #78788c
}

#contactus p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a
}

#contactus button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Merriweather Sans', sans-serif;
  border: 2px solid #78788c;
  background: #e6e6e6;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s
}

#contactus button:hover {
  background: #78788c;
  color: #fff
}

#contactus div {
  content: 'Hi';
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000
}

#contactus span {
  margin: 0 5px 0 15px
}
/*Lectures*/
#lectures{
  text-align:center;
}
#lectures .col-lg-4{
  border:2px solid;
}